---
layout: default
---

<div class="home">

  <!--<div class="posts">-->
    {% for post in paginator.posts %}
      <div class="post-header mb2">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
          <h1 class="h1 post-title tighttop">{{ post.title }}</h1>
          
        </a>
      </div>
      <article class="post-content">{{ post.content }}</article>
    {% endfor %}
  <!--</div>-->

<h3 class="related-post-title"><a href="{{ site.baseurl }}/archive/">see all posts</a></h3>


  {% include pagination.html %}
</div>
